<ion-view view-title="Question Detail" cache-view="false">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-content>
    <div class="list question-detail">
      <form name="questionForm" novalidate role="form">
        <label class="item item-input item-stacked-label" ng-click="vm.editContent('question')">
          <span class="input-label">Question</span>
          <div class="editable" ion-prism="vm.question.question"></div>
        </label>
        <label class="item item-input item-stacked-label" ng-click="vm.editContent('answer')">
          <span class="input-label">Answer</span>
          <div class="editable" ion-prism="vm.question.answer"></div>
        </label>
        <label class="item" ng-click="vm.editTag()">
          <span class="input-label">
            Tags
          </span>
          <div>
              <span ng-repeat="tag in vm.question.tags">
                        {{$index>0 ? ', ' : ''}}  {{tag.name}}
              </span>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Level
          </div>
          <select ng-model="vm.question.level">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="expert">Expert</option>
          </select>
        </label>
        <div class="padding">
          <input type="submit" class="button button-block button-positive"
                 ng-click="questionForm.$valid && vm.saveQuestion(questionForm)" value="Save" />
          <input type="button" class="button button-block button-assertive" ng-if="vm.question._id" ng-click="vm.deleteQuestion()" value="Delete" />
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>

