<form name="questionForm" novalidate role="form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" ng-model="$ctrl.question.name" required>
  </div>
  <div class="form-group">
    <label for="slug">Slug:</label>
    <input type="text" class="form-control" id="slug" name="slug" ng-model="$ctrl.question.slug">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" ng-model="$ctrl.question.description"></textarea>
  </div>
  <div class="form-group">
    <label for="parent">Parent:</label>
    <select ng-model="$ctrl.question.parent" name="parent" id="parent"></select>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="!questionForm.$valid">Submit</button>
</form>
