div[contenteditable=true] i{
  font-style: italic;
}
div[contenteditable=true] ul,div[contenteditable=true] ol{
  list-style: lower-alpha;
}

.question-detail div.editable{
  max-height: 140px;
  min-height: 70px;
  padding: 8px 0px;
  font-size: 14px;
}

.question-list .col{
  padding: 5px 1px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 11px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
