<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="logo">
      <img src="assets/images/question.svg">
      <br/>
    <span>
      Learn concepts by assessing me.
    </span>
    </div>
    <div class="list login">
      <form class="form" name="form" novalidate>
        <label class="item item-input">
          <i class="icon ion-ios-email placeholder-icon"></i>
          <input type="email" ng-model="vm.user.email" placeholder="Email" required>
        </label>
        <label class="item item-input">
          <i class="icon ion-ios-locked placeholder-icon"></i>
          <input type="password" ng-model="vm.user.password" placeholder="Password" required>
        </label>

        <div class="padding">
          <button class="button button-block button-positive" ng-click="vm.login(form)">
            Sign-In
          </button>
          <p class="text-center">
            <a href="#/forgot-password" ui-sref="signup">Register</a>
            <a href="#/forgot-password">Forgot password</a>
          </p>

          <div class="social-buttons">
            <oauth-buttons></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
