<div class="flip-container" ng-class="{'read': read}" ng-style="style" ng-click="itemClicked({question: question}); emitEvent($event)">
  <div class="flipper clearfix">
    <div class="front card item-text-wrapped" ng-style="style">
      <div class="top">
        <i class="icon ion-checkmark-circled"></i>
      </div>
      <div class="icon-holder">Q</div>
      <div class="padding" ion-prism="question.question">
      </div>
    </div>
    <div class="back card item-text-wrapped success" ng-style="style">
      <div class="top">
        <i class="icon ion-checkmark-circled"></i>
      </div>
      <div class="icon-holder">A</div>
      <div class="answer padding" ion-prism="question.answer">
      </div>
    </div>
  </div>
</div>
